.header h1 {
    max-width: 50%;
    color: #fbd7d7;
    text-shadow: 5px 0 #251523;
    letter-spacing: 3px;
    font-family: 'Lobster', cursive;
    word-spacing: 5px;
    font-size: 50px;
    display: inline;
    margin-left: 20px;

}

@media screen and (max-width: 1200px) {
    .header h1 {
        font-size: 45px;
    }
    .topnav {
        right: 1px;

    }
}

@media screen and (max-width: 690px) {
    .header h1 {
        font-size: 40px;
    }
}

@media screen and (max-width: 520px) {
    .header h1 {
        font-size: 33px;
    }
}

@media screen and (max-width: 465px) {
    .header h1 {
        font-size: 30px;
    }
}

@media screen and (max-width: 400px) {
    .header h1 {
        font-size: 25px;
    }
    .header-inner {
        height: 70px;
    }
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #0f070f;
    z-index: 999;
}

.header .header-inner {
    background-color: #0f070f;
    display: inline-block;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    padding: 0;
    z-index: 10000;
    float: left;
}

.topnav {
    position: relative;
    float: right;
    overflow: hidden;
    max-width: 50%;
    z-index: 999;
    min-height: 50px;
    text-align: right;
    display: inline-block;
    top: 10px;
    right: 20px;
    margin-top: 0px;


}

.topnav a {
    float: left;
    display: inline-block;
    color: #793939;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 16px;
    line-height: 5px;
    display: inline-block;
    border: 1px solid #fbd7d7;
    margin-left: 7px;
    letter-spacing: 5px;

}

@media screen and (max-width: 1200px) {
    .topnav a {
        font-size: 15px;
        padding: 14px 14px;

    }
    .topnav {
        right: 10px;
    }
}

@media screen and (max-width: 1150px) {
    .topnav a {
        font-size: 14px;
        padding: 13px 11px;

    }
    .topnav {
        right: 10px;
    }
}

.topnav a:hover {
    background-color: #fbd7d7;
    color: #3A1B1B;
    font-weight: 500;
    text-decoration: underline;
    /* color: #fbd7d7;*/
}


.topnav .icon {
    display: none;
}



@media screen and (max-width: 1050px) {
    .topnav a {
        display: none;
    }
    /*.topnav a:not(:first-child) {display: none;}*/
    .topnav a.icon {
        float: right;
        display: inline-block;
        right: 0px;
    }
}

@media screen and (max-width: 1050px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        background-color: transparent;
        border-bottom: none;

    }
    .topnav.responsive a {
        float: none;
        display: block;
        padding-top: 20px;
        padding-right: 20px;
        background-color: #1a2930;
        border: none;
        border-bottom: 1px solid #070F07;
        z-index: 5;

    }
    .topnav.responsive a:hover {
        color: #e4e4ed;
        background-color: #323E44;
        font-weight: 400;
    }

}

a.icon {
    border: none;
    background-color: transparent;
}


.containerr {
    margin-top: 13px;
    width: 100%;
}

body {

    background-color: #0f070f;
}

.box {
    border: 3px solid #fbd7d7;
    width: 73%;
    color: #d7adff;
    float: left;
    display: inline-block;

}

h3 {
    color: #d7adff;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}

.slide2 {
    width: 100%;
}

.frm input {
    text-align: center;
}

* {
    box-sizing: border-box;
    margin: 0;

}

.hero-title {
    position: relative;
    border: 3px solid #fff;
    display: inline-block;
    width: 340px;
    height: auto;
    margin: auto;
    padding: 15px;
    top: 40px;
    z-index: 1;

}

.hero-title h2 {
    /*font-family: "Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";*/
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
    letter-spacing: 5px;
}


.container-bc {
    position: relative;
    background-color: rgb(237, 232, 235);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 300px;
   
}

.brooks {
    position: absolute;
    margin-top: auto;
    top: 50%;
    left: 50%;
    display: inline-block;
    text-align: center;
    font-size: 2.3vw;
    line-height: 50px;
    font-family: 'Playfair Display', serif;
    
}

#blckquote {
    width: 100%;
    line-height: 35px;
    padding: 0;
    font-size: 2.5vw;
    letter-spacing: -0.9px;
    font-weight: 300;
    font-style: italic;
    color: #1b0315;
    z-index: 3;
    display: inline-block;



}

@media screen and (max-width: 570px) {
    #blckquote {
        font-size: 25px;
        height: 280px;
    }
    #blckquote i {
        font-size: 100px;
    }
}

@media screen and (max-width: 410px) {
    #blckquote {
        font-size: 15px;
        height: 240px;

    }
}

blackquote {

    -moz-box-shadow: 2px 2px 15px #ccc;
    -webkit-box-shadow: 2px 2px 15px #ccc;
    box-shadow: 2px 2px 15px #ccc;
}

#blckquote i {

    position: absolute;
    color: rgba(207, 203, 205, 0.7);
    top: 10px;
    left: 50px;
    font-size: 15vw;
     !important margin-top: 15px;
}

#blckquote span {
    position: absolute;
    top: 60%;
    color: #723535;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    letter-spacing: 5px;
}


.contanier-img {
    position: absolute;
}

.imgbox1 {


    max-width: 32%;

    box-shadow: 7px 7px 5px 3px rgba(73, 27, 27, .1);
    display: inline-block;
    box-sizing: border-box;
    /*background-color: rgba(0, 0, 0, .5);*/
    border-radius: 15px;
    margin-right: 0.6%;
    margin-left: 0.5%;
    margin-top: 7px;
    color: #e4e4de;
    text-align: center;
    align-items: center;


}

.imgtitle {
    position: relative;
    display: inline-block;
    height: auto;
    margin: auto;
    padding: 15px;
    top: 40px;
    z-index: 1;
}

.imgcontent {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    z-index: 5;
    color: #fff;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

}

.imgbox1:hover span {
    display: none;
}

.imgbox1 span {
    position: relative;
    top: -130px;
}



.scd {
    width: 100%;
    height: 650px;
}

.hero-content {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    z-index: 5;
    color: #fff;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.imgbox1:hover {
    color: #d7adff;
    font-weight: bold;
    font-size: 20px;
    opacity: 1;

}

.imgbox1:hover img {
    opacity: 1;
}

.imgbox1 img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    display: inline;
    opacity: 0.5;
    text-align: center;
    z-index: -1;
}
