h1 {
    color: #fbd7d7;
    text-shadow: 5px 0 #251523;
    letter-spacing: 2.5px;
    font-family: 'Lobster', cursive;
    word-spacing: 5px;
    font-size: 50px;

}

body {

    background-color: #0f070f;
}

.box {
    border: 3px solid #fbd7d7;
    width: 73%;
    color:#d7adff;
     float: left;
    display: inline-block;
   
}
h3{
    color:#d7adff;
    font-family: 'Lobster', cursive;
    font-size: 25px;
}
.frm input {
    text-align: center;
}